<header class="bg-image">
    @* <div class="container d-flex justify-content-center align-items-start">
            <img src="~/Image/logo.png" alt="Logo" class="img-fluid">
        </div>*@
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="row mt-0">
            <div class="col-md-12 text-center mt-0 text-white">
                <img src="~/Content/images/logo2.png" alt="Logo" class="img-fluid">
                <h1>READY FOR A CHANGE?</h1>
                <div class="mt-5">
                    <button class="btn btn-warning font-weight-bold btn-lg btn-custom">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</header>
