<!DOCTYPE html>
<html>
<head>
    <style>
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <header class="background_image">
        <div class="col-md-4 text-center">
            <img src="~/Content/images/rsz_logo_1.png" alt="Logo" class="img-fluid w-25">
            <div class="text-right pl-4">
                <p class="text_title display-4">EXPERIENTA</p>
                <p class="text display-1">Experimentează o experiență de bărbierit unică la barbershop-ul nostru, unde tehnicienii noștri talentați îți oferă cele mai bune servicii de îngrijire personală.</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/Content/images/rsz_logo_2.png" alt="Logo" class="img-fluid w-25">
            <div class="text-right">
                <p class="text_title display-4">MEMBRII</p>
                <p class="text display-1">La barbershop-ul nostru, avem o echipă dedicată de specialiști pricepuți, pregătiți să-ți ofere cele mai bune servicii de îngrijire personală, folosind cele mai noi tehnici și produse de calitate.</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/Content/images/rsz_logo_3.png" alt="Logo" class="img-fluid w-25">
            <div class="text-right">
                <p class="text_title display-4">CALITATE</p>
                <p class="text display-1">Descoperă calitatea și rafinamentul nostru! Experimentează servicii personalizate de top și bucură-te de o experiență de barbershop deosebită! Vino să te simți și să arăți extraordinar!</p>
            </div>
        </div>
    </header>
</body>
</html>
