
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a type="button" href="../Admin/Barbershop">Barbershop</a>
<br>
<a type="button" href="../Admin/Employee">Employee</a>
<br>
<a type="button" href="../Admin/Service">Service</a>