@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div style="background-image: url('@Url.Content("~/Content/img.png")');
            background-repeat: no-repeat;
            background-size: 60% 140%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;">

        <div class="row">
            <div class="col-md-10">
                <img src="@Url.Content("~/Content/logo.png")" alt="Logo" style="margin-bottom: 200px; margin-left: -650px" />
            </div>
            <div style=" position: absolute; right: 12%; top: 30%; transform: translateY(-50%); width: 50%;">
                <h1 style="text-align: right; font-size: 8em; font-family:'Franklin Gothic';">Hello!</h1>
            </div>
            <div class="form-group">
                <div style="width: 350px; position: absolute; right: 11%; top: 40%; ">
                    <label for="username" style="display: block; font-size: 20px; margin-bottom: 10px;">Username</label>
                    <input type="text" class="form-control"
                           id="username" name="Username" placeholder="Enter your username here"
                           style="border-radius: 10px; font-family: Arial; font-size: 24px;">
                </div>
            </div>

            <div class="form-group">
                <div style="width: 350px; position: absolute; right: 11%; top: 50%; ">
                    <label for="password" style="display: block; font-size: 20px; margin-bottom: 10px;">Password</label>
                    <input type="password" name="Password" class="form-control"
                           id="password" placeholder="Enter your password here"
                           style="border-radius: 10px; font-family: Arial; font-size: 24px;">
                </div>
            </div>

            <div class="form-group">
                <div style="width: 400px; position: absolute; right: 7%; top: 65%; ">

                    <button class="btn btn-lg btn-dark" id="loginButton" style="background-color: black; color: white;
                        border-radius: 15px; width: 300px; height: 60px; font-size: 2em;">
                        Login
                    </button>

                </div>
            </div>

        </div>
    </div>

    <!--
    <td>
        <div class="form-group">
            <input type="text" name="Username" class="form-control" required />
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="password" name="Password" class="form-control" required />
        </div>
    </td>

    <td>
        <button type="submit" class="btn btn-danger">Login</button>
    </td>
        -->
}


<!-- using (Html.BeginForm("SignOut", "Login", FormMethod.Post))
{
    <td>
        <button type="submit" class="btn btn-danger">Sign Out</button>
    </td>
}
    -->
