@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Product View";
}

@model euseControler.Models.UserData

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/mystyle.css">*@
    
</head>

<body>
    <style>
        h2 {
            color: white;
            font-family: 'DM Serif Display', serif;
            font-size: 4rem;
            font-weight: bold;
        }

        body {
            background-image: url('/Image/BackgroundImage.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row">
            <div class="col-md-12 text-center continut">
                <h2>
                    WALK-INS ARE WELCOME,BUT


                    BOOKING IS BEST!
                </h2>
            </div>
        </div>
    </div>
</body>
</html>