@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@using System.Web.Optimization
@model euseControler.Models.UserData



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/image1.png" class="img-fluid my-2 w-100">
            <img src="~/Image/image2.png" class="img-fluid my-2 w-100">
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="~/Image/image33.png" class="img-fluid w-100">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Image/image4.png" class="img-fluid my-2 w-100">
                </div>
                <div class="col-md-12">
                    <img src="~/Image/image6.png" class="img-fluid my-2 w-100">
                </div>
            </div>
        </div>
    </div>
</div>
