<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BAYLEE</title>
    @*<link href="https://fonts.googleapis.com/css?family=Algerian" rel="stylesheet">*@
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/mystyle.css">*@
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />*@
</head>
<body>
    <!-- Remove the container if you want to extend the Footer to full width. -->
  
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white"
                style="background-color: #2F2C2C">
            

            <div class="col-sm-12 text-center title text-white">
                <h1>BAYLEE</h1>
            </div>

            <style>
                h1 {
                    font-family: 'Algerian';
                }
                .title {
                    padding-top: 30px; /* ajustează numărul de pixeli la nevoie */
                }
                hr {
                    width: 100%;
                    left: 0;
                    position: absolute;
                }
            </style>
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-algerian-bold text-left">About</h6>
                            <p>
                                <ul class="list-unstyled text-left">
                                    <li><a class="text-white" href="!#">About us</a></li>
                                </ul>
                            </p>

                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold text-left">
                                Gallery
                            </h6>
                            <ul class="list-unstyled text-left">
                                <li class="d-inline-block">
                                    <a class="text-white" href="#">Back to gallery</a>
                                </li>
                            </ul>
                        </div>



                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold text-left">Reservations</h6>
                            <p>
                                <ul class="list-unstyled text-left">
                                    <li><a class="text-white" href="!#">Find a reservation</a></li>
                                </ul>
                            </p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-img p-0 me-2">
                        <img src="~/Image/twitter.png" style="width: 25px;">
                    </button>
                    <button type="button" class="btn btn-img p-0 me-2">
                        <img src="~/Image/insta.png" style="width: 25px;">
                    </button>
                    <button type="button" class="btn btn-img p-0 me-2">
                        <img src="~/Image/facebook.png" style="width: 25px;">
                    </button>
                    <button type="button" class="btn btn-img p-0 me-1">
                        <img src="~/Image/youtube.png" style="width: 33px;">
                    </button>
                </div>



                <!-- Section: Links -->
                <hr class="my-1" style="border-top: 2px solid white;">


                <!-- Section: Copyright -->
                <section class="p-1 pt-3">
                    <div class="row d-flex align-items-center justify-content-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center">
                            <!-- Copyright -->
                            <div class="p3 text-center">
                                © 2023
                                <a class="text-white" href="!#">Made with Love by BBC Corporation</a>
                                <img src="~/Image/heart.png" style="width: 15px;">
                            </div>
                            <!-- Copyright -->
                        </div>
                    </div>

                    <!-- Grid column -->
                    <!-- Grid column -->
                    <!--<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">-->
                    <!-- Facebook -->
                    <!--<a class="btn btn-outline-light btn-floating m-1"
           role="button">
            <i class="fab fa-facebook-f"></i>
        </a>-->
                    <!-- Twitter -->
                    <!--<a class="btn btn-outline-light btn-floating m-1"
           role="button">
            <i class="fab fa-twitter"></i>
        </a>-->
                    <!-- Google -->
                    <!--<a class="btn btn-outline-light btn-floating m-1"
           role="button">
            <i class="fab fa-google"></i>
        </a>-->
                    <!-- Instagram -->
                    <!--<a class="btn btn-outline-light btn-floating m-1"
               role="button">
                <i class="fab fa-instagram"></i>
            </a>
        </div>-->
                    <!-- Grid column -->

                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    
    <!-- End of .container -->
</body>
</html>