@model euseControler.Models.UserData

<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">
            LUNA
            <span>v.1.3</span>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <div class="left-nav-toggle">
            <a href="">
                <i class="stroke-hamburgermenu"></i>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="profil-link">
                <a href="#">
                    <span class="profile-address">@Html.DisplayFor(u => u.Username)</span>
                </a>
            </li>
        </ul>
    </div>
</div>