@{
    ViewBag.Title = "Index";
}

@using Booking.Web.Models
@using Booking.Web.Models.Admin
@using Booking.Web.Controllers
@model List<BarbershopManager>

<h2>Barbershop</h2>

@using (Html.BeginForm("AddBarbershop", "Barbershop", FormMethod.Post, new { autocomplete = "off" }))
{
    <div class="form-group">
        <label>Barbershop Name:</label>
        <input type="text" name="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Barbershop Location:</label>
        <input type="text" name="Address" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add Barbershop</button>
}

<br>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Adress</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var barbershop in Model)
        {
        <tr>
            @using (Html.BeginForm("UpdateBarbershop", "Barbershop", FormMethod.Post))
            {
                <td>
                    <div class="form-group">
                        <input type="hidden" name="Id" value="@barbershop.Id" />
                        <input type="text" name="Name" class="form-control" value="@barbershop.Name" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" name="Address" class="form-control" value="@barbershop.Address" />
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Update</button>
                </td>
            }
            <td>
                <form action="@Url.Action("DeleteBarbershop", "Barbershop", new { id = barbershop.Id })" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

