/*header*/
.bg-image {
    background: url('/Content/images/headBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /* align-items: center;*/
}
header {
}
.btn-custom {
    background-color: orange;
    color: black;
    font-size: 5vb;
    font-weight: bold;
}
/*Navigation*/
.a-1 {
    font-family: 'Algerian', sans-serif;
}
.navbar-my {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar {
    padding: 0;
}


/*Index2*/
@font-face {
    font-family: 'Abril';
    src: url('/Font/AbrilFatface-Regular.ttf');
}
h2 {
    font-family: 'Abril';
    position: relative;
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: black;
}
h2::after {
    content: "";
    position: absolute;
    bottom: -0.2em; /* ajustați înălțimea liniei în funcție de preferință */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* ajustați lungimea liniei în funcție de preferință */
    border-bottom: 0.2rem solid black;
}
.project {
    border: 0.2rem solid #000f;
    overflow: hidden;
    position: relative;
    border-radius: 0.6rem;
}

.card.project {
    border: none;
    overflow: hidden;
    position: relative;
}

    .card.project .card-img-top {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        padding: 0rem;
        margin-top: 0rem;
        margin-bottom: -0.5rem;
        border-bottom: 0.2rem solid #000f;
        padding-bottom: -1rem;
        border-radius: 0rem;
    }

    .card.project::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 0.2rem solid #000f;
        z-index: 0;
        border-radius: 0.6rem;
    }



/*intex3*/
.h1-alb {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    font-weight: bold;
}

.background-section {
    background-image: url('/Content/images/BackgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer*/
h1 {
    font-family: 'Algerian', sans-serif;
}

.title {
    padding-top: 30px; /* ajustează numărul de pixeli la nevoie */
}

hr {
    width: 100%;
    left: 0;
    position: absolute;
}
